CONFIG_MOTOR_FRONT_LEFT_IA_GPIO=25
CONFIG_MOTOR_FRONT_LEFT_IB_GPIO=26
CONFIG_MOTOR_FRONT_RIGHT_IA_GPIO=27
CONFIG_MOTOR_FRONT_RIGHT_IB_GPIO=14
CONFIG_MOTOR_FRONT_RIGHT_INVERTED=y
CONFIG_MOTOR_REAR_LEFT_IA_GPIO=19
CONFIG_MOTOR_REAR_LEFT_IB_GPIO=18
CONFIG_MOTOR_REAR_RIGHT_IA_GPIO=17
CONFIG_MOTOR_REAR_RIGHT_IB_GPIO=16
CONFIG_MOTOR_REAR_RIGHT_INVERTED=y
CONFIG_MOTOR_PWM_FREQUENCY_HZ=20000
CONFIG_MOTOR_START_BOOST_SPEED=0

CONFIG_ESP_TASK_WDT_INIT=n
